
@font-face {
  font-family: 'MiloOT-Bold';
  src: url('MiloOT-Bold.eot?#iefix') format('embedded-opentype'),  url('MiloOT-Bold.otf')  format('opentype'),
	     url('MiloOT-Bold.woff') format('woff'), url('MiloOT-Bold.ttf')  format('truetype'), url('MiloOT-Bold.svg#MiloOT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
