
@font-face {
  font-family: 'MiloOT-Text';
  src: url('MiloOT-Text.eot?#iefix') format('embedded-opentype'),  url('MiloOT-Text.otf')  format('opentype'),
	     url('MiloOT-Text.woff') format('woff'), url('MiloOT-Text.ttf')  format('truetype'), url('MiloOT-Text.svg#MiloOT-Text') format('svg');
  font-weight: normal;
  font-style: normal;
}
